{% set page_name = 'home' %}
{% set page_title = 'Home Page Title' %}
{% set page_description = 'Something about the homepage' %}
{% set SEO_description = 'SSG using Nunjucks and Gulp' %} 
{% set SEO_keywords = 'SSG, Nunjucks, Gulp, JavaScript' %}
{% set page_image = page_image or '/assets/img/default-image.jpg' %}  {# Fallback for page image #}
{% extends "layouts/layout.html" %}

{% block head %}
    <title>{{ siteConfig.websiteName }} | {{ page_title }}</title>
    <meta name="description" content="{{ SEO_description }}">
    <meta name="keywords" content="{{ SEO_keywords }}">
    <meta property="og:image" content="{{ page_image }}">
    <meta name="twitter:image" content="{{ page_image }}">
{% endblock %}

{% block content %}
<div class="container">
	
	<div class="row">
    <div class="eight columns">
			<h2>Title</h2>
			<p>Lorem ipsum dolor sit amet, consectetur, adipisicing elit. Repellendus illo eum, sunt perferendis quas libero quae rerum quibusdam consequuntur quidem fugiat velit quod qui, magni eos aliquam non. Deleniti, amet.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia optio aliquam voluptas magnam exercitationem officiis odio numquam, placeat tempora distinctio quam est, neque, assumenda possimus quaerat perferendis sint vero in. Lorem ipsum dolor, sit, amet consectetur adipisicing elit. Fugiat expedita molestias repellat consectetur labore temporibus ab alias, id inventore, reprehenderit excepturi quam quae rem tempora nisi ex libero veniam unde.</p>

			<h3>title</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae veniam quasi magni, culpa aperiam cumque, officiis adipisci corrupti debitis, suscipit laudantium illum architecto amet tempore? Labore corrupti dolore quisquam dolor.</p>

			<div class="row">
				<div class="six columns">
					<div class="row">
						<div class="six columns bordered">
							Nested
						</div>
						<div class="six columns bordered">
							Nested
						</div>
					</div>
				</div>
				<div class="six columns bordered">
					Nothing Nested
				</div>
			</div>

		</div>
    <div class="four columns">
			<h3>title</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae veniam quasi magni, culpa aperiam cumque, officiis adipisci corrupti debitis, suscipit laudantium illum architecto amet tempore? Labore corrupti dolore quisquam dolor.</p>
		</div>
	</div>
	
</div>






<div class="container">

<!-- Grid -->
<div class="docs-section" id="grid">
	<h6 class="docs-header">The grid</h6>
	<p>The grid is a <u>12-column fluid grid with a max width of 960px</u>, that shrinks with the browser/device at smaller sizes. The max width can be changed with one line of CSS and all columns will resize accordingly. The syntax is simple and it makes coding responsive much easier. Go ahead, resize the browser. </p>
	<div class="example-grid docs-example">
		<div class="row">
			<div class="one column">One</div>
			<div class="eleven columns">Eleven</div>
		</div>
		<div class="row">
			<div class="two columns">Two</div>
			<div class="ten columns">Ten</div>
		</div>
		<div class="row">
			<div class="three columns">Three</div>
			<div class="nine columns">Nine</div>
		</div>
		<div class="row">
			<div class="four columns">Four</div>
			<div class="eight columns">Eight</div>
		</div>
		<div class="row">
			<div class="five columns">Five</div>
			<div class="seven columns">Seven</div>
		</div>
		<div class="row">
			<div class="six columns">Six</div>
			<div class="six columns">Six</div>
		</div>
		<div class="row">
			<div class="seven columns">Seven</div>
			<div class="five columns">Five</div>
		</div>
		<div class="row">
			<div class="eight columns">Eight</div>
			<div class="four  columns">Four</div>
		</div>
		<div class="row">
			<div class="nine columns">Nine</div>
			<div class="three columns">Three</div>
		</div>
		<div class="row">
			<div class="ten columns">Ten</div>
			<div class="two columns">Two</div>
		</div>
		<div class="row">
			<div class="eleven columns">Eleven</div>
			<div class="one column">One</div>
		</div>

		<hr>

		  <!-- there are a few shorthand columns widths as well -->
  <div class="row">
    <div class="one-quarter column">1/4</div>
    <div class="three-quarters column">3/4</div>
  </div>
  <div class="row">
    <div class="one-third column">1/3</div>
    <div class="two-thirds column">2/3</div>
  </div>
  <div class="row">
    <div class="one-half column">1/2</div>
    <div class="one-half column">1/2</div>
  </div>
	</div>



</div>

<p>lorem ipsume code <code class="language-css">img {display:block;}</code> domthing. </p>

<p>lorem ipsume code img {display:block;} domthing</p>

<!-- CODE EXAMPLE ———————————————————————————————————————— -->
<pre><code class="language-scss"><!--
-->.imageBlock {
		display: block;

		img {
			display: block;
			width: 100%;
			height: auto;
		}
}
</code></pre>
<!-- ————————————————————————————————————————————————————— -->

<pre><code class="language-html"><!--
-->&lt;div&gt;
	&lt;img src="example.png"&gt;
&lt;/div&gt;<!--
--></code></pre>


<pre>
something something
</pre>





<pre><code class="language-css"><!--
-->img {
	display: block;
	width: 100%;
	height: auto;
}</code></pre>




</div>






{% endblock %}
