<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>{{ page_title or (siteConfig.websiteName + ' | ' + page_name) }}</title>
  <meta name="description" content="{{ SEO_description or siteConfig.defaultDescription }}">
  <meta name="keywords" content="{{ SEO_keywords or siteConfig.defaultKeywords }}">
  <meta name="author" content="{{ siteConfig.authorName }}">

  {# Open Graph / Facebook #}
  <meta property="og:title" content="{{ page_title or (siteConfig.websiteName + ' | ' + page_name) }}">
  <meta property="og:description" content="{{ SEO_description or siteConfig.defaultDescription }}">
  <meta property="og:image" content="{{ page_image or (siteConfig.siteUrl + siteConfig.defaultImage) }}">
  <meta property="og:url" content="{{ siteConfig.siteUrl }}">
  <meta property="og:type" content="website">
  <meta property="og:locale" content="en_US">

  {# Twitter Meta Tags #}
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="{{ page_title or (siteConfig.websiteName + ' | ' + page_name) }}">
  <meta name="twitter:description" content="{{ SEO_description or siteConfig.defaultDescription }}">
  <meta name="twitter:image" content="{{ page_image or (siteConfig.siteUrl + siteConfig.defaultImage) }}">

  {# Favicons and Icons #}
  <link rel="apple-touch-icon" sizes="180x180" href="{{ siteConfig.faviconPath }}/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ siteConfig.faviconPath }}/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ siteConfig.faviconPath }}/favicon-16x16.png">
  <link rel="manifest" href="{{ siteConfig.faviconPath }}/site.webmanifest">
  <link rel="mask-icon" href="{{ siteConfig.faviconPath }}/safari-pinned-tab.svg" color="#c02323">
  <link rel="shortcut icon" href="{{ siteConfig.faviconPath }}/favicon.ico">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-config" content="{{ siteConfig.faviconPath }}/browserconfig.xml">
  <meta name="theme-color" content="{{ siteConfig.themeColor }}">


  {# Critical CSS #}
  <style>
    body {
      background-color: #f4f4f4;
    }
  </style>

  <link rel="stylesheet" href="/assets/styles.css" />
</head>
<body class="site {{ page_name }}">

  {# Header/navigation section #}
  {% include "partials/header.html" %}

  {# Hero section #}
  {% include "partials/hero.html" %}

  {# Main content section #}
  <div class="main site__content">
    {% block content %}{% endblock %}
  </div>

  {# Footer section #}
  {% include "partials/footer.html" %}

  {# Scripts #}
  <script async src="/assets/scripts.js"></script>
</body>
</html>
